<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480, height=320, initial-scale=1.0">
    <title>Reflectance</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: white;
            padding: 0;
            margin: 0;
        }

        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%; /* Ensure it doesn't overflow horizontally */
            height: 320px; /* Set height to fit the viewport */
            margin-top: 0; /* Align closely to the navbar */
        }

        /* Adjust image styles */
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<!-- Status Bar -->
{% include 'statSegments/statusbarAllApsTypes.html' %}

<!-- Navigation bar -->
{% include 'statSegments/absorbanceNavigation.html' %}

<!-- Main content area -->
<div class="container">
    <div class="chart-container">
        <!-- Plotly chart container -->
        <div id="plot" class="img-fluid" style="width: 100%; height: 100%;"></div>
    </div>
</div>


<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- jQuery for AJAX call -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{########################################}
{# plot customizing script functions #}
{########################################}

<script>
    let currentMode = 'pan';
    // Access the flag value in JavaScript
    let plotUpdateFlag = '{{ flag1 }}'; // This will be 'True' or 'False' as a string

    // Function to start or stop updates based on the flag
    function managePlotUpdates() {
        if (plotUpdateFlag === 'True') {

            console.log("Starting plot updates...");

            $(document).ready(function () {
                // Function to update the plot with new data from the server
                function updatePlot() {
                    $.getJSON('/plot-data4', function (response) {
                        var plotData = JSON.parse(response.figure); // Extract the figure data
                        var config = response.config; // Extract the config data


                        // Extract data and layout from the plotData
                        var data = plotData.data;
                        var layout = plotData.layout;

                        // Modify layout to reduce top margin
                        plotData.layout.margin = {
                            l: 30,  // left margin
                            r: 30,  // right margin
                            b: 130,  // bottom margin
                            t: 5,  // top margin: reduce this value to move closer to the top
                            pad: 0  // padding
                        };

                        // Update or create the plot
                        Plotly.react('plot', data, layout, config); // Use Plotly.react to update the plot efficiently
                    });
                }

                // Call updatePlot initially to load the plot
                updatePlot();
                // Set an interval to automatically update the plot every 5 seconds (1000 ms)
                setInterval(updatePlot, 1500);

                // Custom toolbar button actions
                // Button click event to show the peak value
                $('#point-btn').on('click', function () {
                    if (peakValue !== null) {
                        let peakValueNumber = parseFloat(peakValue);  // Convert to float for precise value
                        alert(`The peak X-axis value is: ${peakValueNumber}`);
                    } else {
                        alert("Peak value has not been calculated yet.");
                    }
                });

// Custom function to find the index of the peak in the y-axis data


                $('#zoom-btn').on('click', function () {
                    currentMode = 'zoom';
                    Plotly.relayout('plot', {'dragmode': 'zoom'});
                });


                $('#pan-btn').on('click', function () {
                    currentMode = 'pan';
                    Plotly.relayout('plot', {'dragmode': 'pan'});
                });

                $('#reset-btn').on('click', function () {
                    Plotly.relayout('plot', {
                        'xaxis.autorange': true,
                        'yaxis.autorange': true
                    });
                });

                $('#save-btn').on('click', function () {
                    Plotly.downloadImage('plot', {format: 'png', filename: 'plot_image'});
                });

                $('#stop-btn').on('click', function () {
                    // Optional stop function implementation
                });

                $('#play-btn').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/connect',
                        type: 'GET',
                        success: function (response) {
                            console.log('starting data reading...');
                        },
                        error: function (xhr) {
                            console.log('Error starting data');
                        }
                    });
                });

                // Handle the pause button click
                $('#pause-btn').on('click', function (e) {
                    e.preventDefault();

                    $.ajax({
                        url: '/pauseData',
                        type: 'GET',
                        success: function (response) {
                            console.log('Success pausing data');
                        },
                        error: function (xhr) {
                            console.log('Error pausing data');
                        }
                    });
                });

                $('#settings-btn').on('click', function () {
                    // Custom settings button action
                });

                $('#analyze-btn').on('click', function () {
                    // Custom analyze button action
                });

            });
        } else {
            // Stop updating the plot
            console.log("Stopping plot updates...");
        }
    }

    managePlotUpdates();

</script>

</body>
</html>
