{#navigation bar#}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-around">
{#    <a class="nav-link text-white" href="{{ url_for('navigate_to_index') }}">Home</a>#}
    <a class="nav-link text-white" href="{{ url_for('analyze') }}">Analyze</a>
    <a class="nav-link text-white" href="#settings">Settings</a>
    <a class="nav-link text-white" href="#about">About</a>
    <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#rebootModal">Re-Boot</a> <!-- Open modal -->
  </div>
</nav>

<!-- Bootstrap Modal -->
<div class="modal fade" id="rebootModal" tabindex="-1" aria-labelledby="rebootModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rebootModalLabel">Confirm Re-Boot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to reboot the application?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmReboot">Confirm</button>
      </div>
    </div>
  </div>
</div>

{#script event listener for confirm button#}
<script>
  // Event listener for the confirm button inside the modal
  document.getElementById('confirmReboot').addEventListener('click', function() {
    // Redirect to the splash page
    window.location.href = "{{ url_for('splash') }}";
  });
</script>