<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=480, height=320, initial-scale=1.0">
    <title>Reflectance</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-color: white;
            padding: 0;
            margin: 0;
        }

        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%; /* Ensure it doesn't overflow horizontally */
            height: 320px; /* Set height to fit the viewport */
            margin-top: 0; /* Align closely to the navbar */
        }

        /* Adjust image styles */
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<!-- Status Bar -->
{% include 'statSegments/statusbarAllApsTypes.html' %}

<!-- Navigation bar -->
{% include 'statSegments/reflectanceNavigation.html' %}

<!-- Main content area -->
<div class="container">

    <div>
        <p class="h5"> Reflectance </p>
    </div>

    <div class="chart-container">
        <!-- Plotly chart container -->
        <div id="plot" class="img-fluid" style="width: 100%; height: 100%;"></div>
    </div>
</div>


<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- jQuery for AJAX call -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{########################################}
{# plot customizing script functions #}
{########################################}

<script>
    let currentMode = 'pan';

    $(document).ready(function () {
        // Fetch the plot data and config from the Flask endpoint
        $.getJSON('/plot-data', function (response) {
            var plotData = JSON.parse(response.figure); // Extract the figure data
            var config = response.config; // Extract the config data

            // Extract data and layout from the plotData
            var data = plotData.data;
            var layout = plotData.layout;

            // Modify layout to reduce top margin
            plotData.layout.margin = {
                l: 30,  // left margin
                r: 70,  // right margin
                b: 165,  // bottom margin
                t: 5,  // top margin: reduce this value to move closer to the top
                pad: 0  // padding
            };

            // Plot the figure with data, layout, and config
            Plotly.newPlot('plot', data, layout, config);

            // Custom toolbar button actions
            $('#zoom-btn').on('click', function () {
                currentMode = 'zoom';
                Plotly.relayout('plot', {'dragmode': 'zoom'});
            });

            $('#pan-btn').on('click', function () {
                currentMode = 'pan';
                Plotly.relayout('plot', {'dragmode': 'pan'});
            });

            $('#reset-btn').on('click', function () {
                Plotly.relayout('plot', {
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                });
            });

            $('#save-btn').on('click', function () {
                Plotly.downloadImage('plot', {format: 'png', filename: 'plot_image'});
            });

            $('#stop-btn').on('click', function () {
                {#Plotly.purge('plot'); // Removes the plot_image#}
            });

            $('#play-btn').on('click', function () {
                // Custom play button action
                {#alert("Play button clicked!");#}
            });

            $('#pause-btn').on('click', function () {
                // Custom pause button action
                {#alert("Pause button clicked!");#}
            });

            $('#settings-btn').on('click', function () {
                // Custom settings button action
            });

            $('#analyze-btn').on('click', function () {
                // Custom analyze button action
                {#alert("Analyze button clicked!");#}
            });
        });
    });
</script>

</body>
</html>
