<div class="status-bar">

    <!-- Home Button -->
    <div>
        <a class="btn btn-primary bi bi-house" href="{{ url_for('navigate_to_index') }}" role="button"
           style="height: 30px"></a>
    </div>

    <!-- system status -->
    <div class="status-bar-icons">
        <i class="icon-red"></i>
        <i class="icon-blue"></i>
        <i class="icon-gray"></i>
    </div>

    <!-- Wifi Connectivity -->
    <div class="status-bar-info">
        <i id="wifi-icon" class="icon-gray bi bi-wifi-off"></i>
        <span id="status-time">Loading ...</span>
    </div>


</div>


{#update time and date#}
<script>
    function updateDateTime() {
        const dateTimeSpan = document.getElementById('status-time');
        const now = new Date();

        // Format the date and time
        const date = now.toLocaleDateString('en-GB', {year: 'numeric', month: 'short', day: 'numeric'});
        const time = now.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', second: '2-digit'});

        // Set the formatted date and time to the HTML element
        dateTimeSpan.textContent = `${date} ${time}`;
    }

    // Call the function once to initialize
    updateDateTime();

    // Update the date and time every second
    setInterval(updateDateTime, 1000);
</script>


<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
