<div class="status-bar">

    <!-- Home Button -->
    <div>
      <a class="btn btn-primary bi bi-house" href="{{ url_for('navigate_to_index') }}" role="button"></a>
    </div>

    <!-- Status Bar Icons -->
    <div class="status-bar-icons">
      <i class="icon-red"></i>
      <i class="icon-blue"></i>
      <i class="icon-gray"></i>
    </div>

    <!-- Status Bar Info -->
    <div class="status-bar-info">
      <i class="bi bi-wifi-off"></i>
      <span>26 Jun 2024 2:17 PM</span>
    </div>

  </div>

  <!-- Bootstrap-based navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-around">
      <a class="nav-link text-white" href="{{ url_for('navigate_to_index') }}">Home</a>
      <a class="nav-link text-white" href="{{ url_for('home') }}">Analyze</a>
      <a class="nav-link text-white" href="#settings">Settings</a>
      <a class="nav-link text-white" href="#about">About</a>
      <a class="nav-link text-white" href="#logout">Logout</a>
    </div>
  </nav>